<div class="container fluid pt-5">
    <div class="row">
        <div class="col-md-4">
            <h4>Lista de Productos</h4>
            <ul class="list-group">
                {{#each Products}}
                <li class="list-group-item">
                    <p><span class="fw-semibold">Nombre: </span>{{title}}</p>
                    <p><span class="fw-semibold">Stock: </span><span class="badge bg-primary rounded-pill">{{stock}}</span></p>
                    <p><span class="fw-semibold">Descripción: </span>{{description}}</p>
                    <p><span class="fw-semibold">Precio: </span>{{price}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>