<div class="container fluid pt-5">
    <div class="row">
        <div class="col-md-4">
            <h4>Lista de en tiempo real</h4>
            <ul class="list-group" id="product-list"></ul>
        </div>
    </div>
</div>

<hr>
<div class="container fluid pt-5">
    <div class="row">
        <div class="col-md-8">
            <form class="form-group mx-auto w-50">
                <h5>Agregar un producto</h5>
                <input class="form-control form-control-sm mb-2" type="text" name="title" id="title"
                    placeholder="Nombre del Producto" required>
                <input class="form-control form-control-sm mb-2" type="text" name="description" id="description"
                    placeholder="Descripción" required>
                <input class="form-control form-control-sm mb-2" type="number" name="stock" id="stock"
                    placeholder="Stock" required>
                <input class="form-control form-control-sm mb-2" type="text" name="thumbnail" id="thumbnail"
                    placeholder="URL de la imagen" required>
                <input class="form-control form-control-sm mb-2" type="text" name="category" id="category"
                    placeholder="Categoría" required>
                <input class="form-control mb-2" type="number" name="price" id="price" placeholder="Precio" required>
                <input class="form-control form-control-sm mb-2" type="text" name="code" id="code"
                    placeholder="Código de producto" required>
                <button class="btn btn-primary" type="submit" id="add-btn">Agregar</button>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-group mx-auto w-50">
                <h5>Eliminar un producto</h5>
                <input class="form-control form-control-sm mb-2" type="number" name="id-prod" id="id-prod"
                    placeholder="Ingrese ID">
                <button class="btn btn-danger" type="button" id="delete-btn">Eliminar</button>
            </form>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>